<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
  <head>
    <title>Access Denied</title>
  </head>
  <body>
	    
	<div class="col-lg-8 mx-auto p-3 py-md-5">
	  <main>
	  	  
		  <div class="container px-4 py-5" id="custom-cards" layout:fragment="content">
		  	<h2>Access Denied (403)</h2>
		  </div>
	  </main>
	</div>

  </body>
</html>
