<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout">
  <head>
    <title>Restaurants</title>
  </head>
  <body>
	    
	<div class="col-lg-8 mx-auto p-3 py-md-5">
	  <main>
	  	  
		  <div class="container px-4 py-5" id="custom-cards" layout:fragment="content">
		  	<h2>Accounts</h2>
			<div class="table-responsive">
	        <table class="table table-striped table-sm">
	          <thead>
	            <tr>
	              <th scope="col">ID</th>
	              <th scope="col">Number</th>
	              <th scope="col">Name</th>
	              <th scope="col">Username</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="account : ${accounts}">
	              <td th:text="${account.entityId}">id</td>
	              <td th:text=${account.number}>Number</td>
	              <td th:text=${account.name}>Name</td>
	              <td th:text=${account.username}>Username</td>
	            </tr>
	          </tbody>
	        </table>
		  </div>
		</div>
	  </main>
	</div>

  </body>
</html>
